<div class="row">
  <div class="column large-push-2 large-10">
    <%= render 'page_header', title: "CB & Lean UX", subtitle: "Work It, Make It, Do It, Makes Us, Harder, Better, Faster, Stronger" %>
    <div class="column large-12">
      <p>
        Lean UX has been debated and discussed in a variety of forums. Some have seen it as a condemnation of extensive documentation while others have said it’s a rebranding of techniques they’ve been practicing for years. In this excerpt from Lean UX: Applying lean principles to improve user experience , (www.leanuxbook.com) authors Jeff Gothelf and Josh Seiden lay out their rationale for why Lean UX is something new and why it’s important now:
      </p>
      <%= image_tag "Dual-Track-Cycle.jpg" %>
      <p>
        When bringing our craft to software in the 1980s and 1990s, designers approached software in the same way we approached the earlier materials we worked with. In industrial design, print design, fashion design, and any field involving physical outputs, the manufacturing step is a critical constraint. When designing for physical materials, designers need to figure out what we’re making before we start production, because production is expensive. It’s expensive to set up a factory floor to produce hard goods or garments. It’s expensive to set up a printing press for a print run.
      </p>
      <%= image_tag "Discovery-Cycle.jpg" %>
      <p>
        Working in software, designers faced new challenges. We had to figure out the grammar of this new medium, and as we did, we saw new specialties such as interaction design and information architecture emerge. But the process by which designers practiced remained largely unchanged. We still designed products in great detail in advance, because we still had to deal with a “manufacturing” process: our work had to be duplicated onto floppy disks and CDs, which were then distributed to market in exactly the same way that physical goods were distributed. The cost of getting it wrong remained high.
      </p>
      <%= image_tag "Learn-Process.jpg" %>
      <p>
        Today, we face a new reality. The Internet has changed the distribution of software in radical ways. Most software is now distributed online. We are no longer limited by a physical manufacturing process and are free to work in much shorter release cycles.
      </p>
      <%= image_tag "Build-Measure-Process.jpg" %>
      <p>
        But “free” really undersells this new reality. Teams are now facing intense pressure from competitors who are using techniques such as agile software development, continuous integration, and continuous deployment to radically reduce their cycle times. Teams are pushing new code to production as fast as you can save a Photoshop file. And they are using these short cycles as a competitive advantage–releasing early and often, gaining market feedback, and iterating based on what they learn–and (perhaps inadvertently) raising customer expectations in terms of quality and response times.
      </p>
    </div>
  </div>
  <div class="column small-12 small-pull-0 large-pull-10 large-2 end">
    <div class="row">
      <div class="column large-12 small-4">
        <%= image_tag "profile-picture.jpg", :class => "author" %>
      </div>
      <div class="column small-8 large-12">
        <a class="" href="/welcome/about/">James Matchett</a>
        <div>UX Designer at Careerbuilder.com</div>
        <p><small>Posted Jan 18th, 2015</small></p>
      </div>
    </div>
  </div>
</div>