<p id="notice"><%= notice %></p>
<div class="row">
	<div class="column small-12 medium-6 medium-centered">
		<h1>Projects</h1>
	</div>
</div>

<% @projects.each do |project| %>
  <div class="row">
  	<div class="column small-12 medium-6 medium-centered">
   		<div class="panel" style="background-color: #fff;">
   			<a href="../projects/<%= project.id %>">
	   			<h3>
	   				<%= project.title %>
	   			</h3>
	   			<p style="margin: 0 -1.25em 1.25em;">
	   				<%= image_tag project.preview.url %>
	   			</p>
	   			<p><%= project.brief %></p>
	    		<% if user_signed_in? %>
	    			<%= link_to 'Show', project %>
	    			<%= link_to 'Edit', edit_project_path(project) %>
	    			<%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
	    		<% end %>
	    	</a>
    	</div>
    </div>
  </div>
<% end %>

<br>
<% if user_signed_in? %>
	<%= link_to 'New Project', new_project_path %>
<% end %>
