<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Your UX Design Ninja" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <style>
      footer {
        margin-top: 60px;
        box-shadow:0 -60px 0 #797979 inset;
      }
      @media screen and (min-width: 400px) {
        footer {
          box-shadow:0 -90px 0 #797979 inset;
          margin-top: 80px;
        }
      }
      @media screen and (min-width: 768px) {
        footer {
          box-shadow:0 -100px 0 #797979 inset;
          margin-top: 80px;
        }
      }
      @media screen and (min-width: 1000px) {
        footer {
          box-shadow:0 -150px 0 #797979 inset;
          margin-top: 100px;
        }
      }
    </style>
    <nav class="top-bar" data-topbar="">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1>
            <a href="#">
              Your UX Design Ninja
            </a>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon">
          <a href="../index">
            <span>menu</span>
          </a>
        </li>
      </ul>
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li class="not-click">
            <a href="/welcome/index">Home</a>
          </li>
          <li class="divider"></li>
          <li class="not-click">
            <a href="/welcome/about">About Me</a>
          </li>
        </ul>
      </section>
    </nav>

    <%= yield %>
    <%= javascript_include_tag "application" %>
    <footer>
      <div class="row">
        <div class="column small-6 small-push-3 medium-4 medium-push-4">
          <%= image_tag "ninjas.png" %>
        </div>
      </div>
    </footer>
  </body>
</html>